@model HandleErrorInfo

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MailSendbox</title>
</head>
<body>
    <h1>Oops. Failed. Sorry.</h1>
    <h2>But don't worry though, the error has been logged.</h2>
</body>
</html>
