<div>
    <h1>Get Started</h1>

    <p>
        Just drop us an email to ping@mailsendbox.net and your message will show up under the @Html.ActionLink("Watch", "Index", "Watch") tab.
        In this case your app's mail sending mechanism has worked just fine. Now it's up to you again to check if the content is the expected too.
    </p>
</div>
