# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj

# mstest test results
TestResults

# per-user project files
*.suo
*.csproj.user

# Resharper stuff
_ReSharper*

# ignore NuGet packages, because we use package restor
packages/*/*